{% extends 'base.html.twig' %}

{% block title %}Registration Successful{% endblock %}

{% block body %}
    <h1>Registration Successful</h1>
    <p>Your account has been created successfully. You can now log in.</p>
{% endblock %}
