<!-- footer -->
<footer>
    <div class="footer-container">
        <div class="square">
            <h3>Inscrivez-vous à notre newsletter</h3>
            <div class="input-container">
              <input type="email" id="email" name="email" placeholder="Restez informé">
              <button type="submit" class="submit-button">
                <i class="fas fa-arrow-right"></i>
              </button>
            </div>
            <p>Bonjour, nous sommes Ventalis. Notre mission est de vous mettre en relation avec les hébergements les plus écologiques, afin que votre séjour soit non seulement confortable, mais aussi respectueux de la planète.</p>
        </div>
        <div class="row trois-column-footer">
                <!-- Première colonne -->
                <div class="col-md-4">
                  <h5>Nos services</h5>
                  <ul>
                    <li>Explorer</li>
                    <li>Entreprise</li>
                  </ul>
                </div>
            
                <!-- Deuxième colonne -->
                <div class="col-md-4">
                  <h5>Guides et conseils</h5>
                  <ul>
                    <li>Resources</li>
                    <li>Qui sommes-nous ?</li>
                    <li>Virtual Events</li>
                    <li>Blog</li>
                  </ul>
                </div>
            
                <!-- Troisième colonne -->
                <div class="col-md-4">
                  <h5>Sécurité et confidentialité</h5>
                  <ul>
                    <li>Communauté Ventalis</li>
                    <li>Conditions générales</li>
                    <li>Témoignages</li>
                  </ul>
                </div>
        </div>        
      <hr>
    </div>
</footer>

<!-- end footer -->
