{% extends 'base.html.twig' %}

{% block container%}
<section class="parrainage-section">
  <div class="titre-parrain">
    <h1>Parrainage Deus Perdoa</h1>
  </div>

  <div id="parrain-info">
    <h2>Devenez un Parrain Deus Perdoa</h2>
    <p>
      Invitez vos proches à rejoindre GreenGo et bénéficiez de réductions sur
      vos prochaines vacances !
    </p>
    <a href="#">Inviter mes proches</a>
    <h2>Profitez du Parrainage Deus Perdoa</h2>
    <p>
      Recevez une réduction de 20 € sur votre première réservation grâce à un
      parrain.
    </p>
    <a href="#">Je suis parrainé</a>
  </div>
  <div class="how-it-works-titre">
    <h2>Comment ça marche ?</h2>
  </div>
  <div id="how-it-works-parrain">
    <div class="container-step-1">
      <div class="step-1">
        <img src="invite.png" alt="Invite" />
        <p>J'invite mes proches</p>
        <p>Partagez simplement votre lien.</p>

        <img src="travel.png" alt="Travel" />
        <p>Mes proches voyagent</p>
        <p>Avec 20 € de réduction grâce à vous !</p>

        <img src="earn.png" alt="Earn" />
        <p>Et je gagne 20 €</p>
        <p>En crédits Deus Perdoa pour vos prochaines escapades.</p>
      </div>
    </div>
    <div class="container-step-2">
      <div class="step-2">
        <img src="invite.png" alt="Invite" />
        <p>J'invite mes proches</p>
        <p>Partagez simplement votre lien.</p>
      </div>
      <div class="step-2">
        <img src="travel.png" alt="Travel" />
        <p>Mes proches voyagent</p>
        <p>Avec 20 € de réduction grâce à vous !</p>
      </div>
      <div class="step-2">
        <img src="earn.png" alt="Earn" />
        <p>Et je gagne 20 €</p>
        <p>En crédits Deus Perdoa pour vos prochaines escapades.</p>
      </div>
    </div>
  </div>
</section>

{% endblock%}




